<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="jumbotron.css" rel="stylesheet">
	<link href = "maincss.css" rel = "stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-color" href="#">Glasgow Mashers</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            
			<button type="submit" class="btn btn-success">Sign up</button>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </div>


    <div class="jumbotron">
      <div class="container">
        <h1>The business simulator.</h1>
        <p>This is a simulator which simulates a business sim.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Start game &raquo;</a></p>
      </div>
    </div>

<div class="container">
	<div class="row">
        <div class="col-md-1"><p>Box 1</p></div>
		<div class="col-md-1"><p>Box 2</p></div>
		<div class="col-md-1"><p>Box 3</p></div>
		<div class="col-md-1"><p>Box 4</p></div>
		<div class="col-md-1"><p>Box 5</p></div>
		<div class="col-md-1"><p>Box 6</p></div>
		<div class="col-md-1"><p>Box 7</p></div>
		<div class="col-md-1"><p>Box 8</p></div>
		<div class="col-md-1"><p>Box 9</p></div>
		<div class="col-md-1"><p>Box 10</p></div>
		<div class="col-md-1"><p>Box 11</p></div>
		<div class="col-md-1"><p>Box 12</p></div>
	</div>
</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>