<!-- <div class="jumbotron">
  <div class="container">
    <h1>The business simulator.</h1>
    <p>This is a simulator which simulates a business sim.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Start game &raquo;</a></p>
  </div>
</div> -->
<div class="jumbotron">
  <div class="container">
    <h1>Glasgow Mashers' <br>Sales Simulator</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <%= link_to 'New account', new_user_registration_path, :class => "btn btn-lg btn-success" %>
  </div> 
</div>








	
