.margin-top{
	margin-top: 60px;
}

.left_evet{
	background-color: #5cb85c;
	height: 45px;
	width: 40%;
	margin-bottom: 10px;
	margin-top: 13px;
	margin-left: 25px;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	display:inline-block;
	transition: all 0.3s ease-in;
    text-decoration:none;
}



.evet{
	background-color: #5cb85c;
	height: 45px;
	width: 95%;
	margin-bottom: 10px;
	margin-top: 13px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	transition: all 0.3s ease-in;
    text-decoration:none;
}

.evet:active{
	font-size: 110%;
	/*display: none;	*/
}

.left_evet:active{
	font-size: 110%;
	/*display: none;	*/
}

#left{
	height: 600px;
	background-color: #222; 
	cursor: pointer;
	border-radius: 10px;
}

#right{
	height: 600px;
	background-color: #222; 
	cursor: pointer;
	border-radius: 10px;
}

span { 
	color:#fff;
	display:inline-block; 
	vertical-align:middle 
}

.evet:hover {
	background-color: #7C7C97; 
	border-color: #666;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;	
	cursor: pointer;
} 

.left_evet:hover {
	background-color: #7C7C97; 
	border-color: #666;	
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;	
}

#tab-full-container{
	background-color: #222; 
	border-color: #222;
}





/*       jq/boot/shrek    */
.etabs { 
	margin: 0; 
	padding: 0; 
}
.tab {  
	display: inline-block; 
	zoom:1; 
	*display:inline; 
	background: #5cb85c; 
	border: solid 1px #999; 
	border-bottom: none; 
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
}
.tab a { 
	font-size: 14px; 
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	outline: none; 
}
.tab a:hover { 
	text-decoration: underline; 
}
.tab.active { 
	background: #fff; 
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #666; 
	}
.tab a.active { font-weight: bold; }
.tab-container { 
	margin-left: 10px;
	margin-top:5% ;
	background: #fff; 
	border: solid #666 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px; 
}
