$side-panel-colors: #666;

.left-panel {
	background-color: $side-panel-colors; 
	height: 1000px; 
}

.right-panel {
	background-color: $side-panel-colors; 
	height: 1000px; 
}

.staff-styling {	
	a {
		text-decoration: none;
	}
	.well {
		background-color: #222; 
		color:            #eee;
		border-color: #555;
		cursor: pointer;

		&:hover {
			background-color: #444; 
			border-color: #666;
			
		} 
	}
}

.arrow {
	margin-top: 5px;; 
	color: #999;
	font-size: 80px;
	padding-left: 20px;  
	&:hover {
		color: #fff;
		cursor: pointer;
	}  
}

.logged-margin-top {
	margin-top: 0px;		
	h1 {
		color: #eee;
		text-decoration: underline ;
		font-weight: bold; 
	}

	a {
		color: #eee;
		text-decoration: underline ;
		font-weight: bold; 
		
		&:hover {
			color: #999;
		}
	}
}

.show {
	font-size: 30px; 
	td {
		padding: 10px; 
	}
	.right {
		float: right;
	}

}

.table {
	td, th {
		border: 3px solid #444;
		padding: 7px;
		text-align: center; 
	}

	tr {
		&:nth-child(odd) {
			background-color: #A7D9A8; 
		}

		&:nth-child(even) {
			background-color: #ddd; 
		}
	}

}

.stats {
	margin-top: 15px;
	color: #5cb85c;
	font-size: 18px ;  
	margin-left: 100px; 
}

.graph-margin {
	margin-top: 70px; 
}

