<% if user_signed_in?  %>

<div class="col-md-2 left-panel">
	<div class="left_evet" id="onel" onclick="oneF()"><span>Event 1</span></div>

	<div class="left_evet" id="twol" onclick="twoF()"><span>Event 2</span></div>

	<div class="left_evet" id="threel" onclick="threeF()"><span>Event 3</span></div>

	<div class="left_evet" id="fourl" onclick="fourF()"><span>Event 4</span></div>

	<div class="left_evet" id="fivel" onclick="fiveF()"><span>Event 5</span></div>

	<div class="left_evet" id="sixl" onclick="fiveF()"><span>Event 6</span></div>

	<div class="left_evet" id="sevenl" onclick="fiveF()"><span>Event 7</span></div>

	<div class="left_evet" id="eight1" onclick="fiveF()"><span>Event 8</span></div>
</div>

<% end %>