<% if user_signed_in?  %>

<div class="col-md-2 left-panel">
	<div class="left_evet" id="income" ><span>Income</span></div>

	<div class="left_evet" id="expenses" ><span>Expenses</span></div>

	<div class="left_evet" id="income-exp" ><span>Income/Expenses</span></div>

	<div class="left_evet" id="avg-happy" ><span>Average happiness</span></div>

	<div class="left_evet" id="avg-produc" ><span>Average productivity</span></div>

	<div class="left_evet" id="happy-produc" ><span>Happiness/Productivity</span></div>


</div>

<% end %>