<% if user_signed_in?  %>
<div class="col-md-2 right-panel">
	<div class="evet" id="one" onclick="oneF()"><span>Event 1</span></div>

	<div class="evet" id="two" onclick="twoF()"><span>Event 2</span></div>

	<div class="evet" id="three" onclick="threeF()"><span>Event 3</span></div>

	<div class="evet" id="four" onclick="fourF()"><span>Event 4</span></div>

	<div class="evet" id="five" onclick="fiveF()"><span>Event 5</span></div>
</div>
<% end %>